@import url(./variables.css);

* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  color: var(--black);
}

p {
  font-size: var(--font-size-2);
  font-weight: 400;
  margin-block-end: 1rem;
  margin-block-start: 1rem;
}

strong {
  color: var(--primary);
  font-weight: 800;
}

main {
  background-color: var(--medium);
  border-block-start: 8px solid var(--light);
  padding-block-end: var(--r64);
  padding-block-start: var(--r64);
}

.intro-chunk {
  margin-block-end: var(--r64);
  margin-block-start: var(--r96);
  padding-inline-end: var(--r24);
  padding-inline-start: var(--r24);
}

.title {
  font-size: var(--font-size-4);
  margin-block-end: var(--r48);
}

.card {
  background-color: var(--white);
  border-block-end: 8px solid var(--light);
  padding: var(--r8) var(--r24);
}

.indented-heading {
  background-color: var(--secondary-lighter);
  box-shadow: 0px 8px 0px 0px var(--secondary-darker);
  font-size: var(--font-size-3);
  inline-size: fit-content;
  line-height: 28.8px;
  margin-block-end: var(--r24);
  margin-block-start: unset;
  margin-inline-start: calc(var(--r24) * -1);
  padding: var(--r8) var(--r24);
}


/* ===== MEDIA QUERIES ===== */

@media (width >= 768px) {
  .intro-chunk p {
    max-inline-size: 60%;
  }
}

@media (width >= 1024px) {
  .max-width-wrapper {
    margin-inline-end: auto;
    margin-inline-start: auto;
    max-inline-size: 50rem;
  }

  .indented-heading {
    margin-inline-start: calc(var(--r32) * -1);
    padding: var(--r8) var(--r32);
  }
}
