@import url(./variables.css);

* {
  box-sizing: border-box;
  font-family: var(--font-family);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
}

p {
  font-size: 1.25rem;
  font-weight: 25rem;
  margin-block-end: 1rem;
  margin-block-start: 1rem;
}

strong {
  color: var(--primary);
  font-weight: 800;
}

header {
}

main {

}

.max-width-wrapper {
  padding-inline-start: 24px;
  padding-inline-end: 24px;
}

.intro-chunk {
  margin-block-start: 96px;
  margin-block-end: 64px;
}

.title {
  margin-block-end: 3rem;
}

.card {

}

@media (width <= 480px) {
  body {

  }
}
