@layer theme {
  :root {
    /* ### Color palette */

    /* Primary (green) */
    --primary: hsl(160deg, 100%, 30%);
    /* Secondary (gold) */
    --secondary-lighter: hsl(45deg, 100%, 50%);
    --secondary-darker: hsl(45deg, 100%, 40%);
    /* Grays */
    --white: hsl(0deg, 0%, 100%);
    --light: hsl(0deg, 0%, 60%);
    --medium: hsl(0deg, 0%, 40%);
    --dark: hsl(0deg, 0%, 30%);
    --very-dark: hsl(0deg, 0%, 10%);
    --black: hsl(0deg, 0%, 0%);

    /* Spacing Relative units */
    --base: 16;
    --r8: calc((8 / var(--base) * 1rem)); /* 8px */
    --r16: calc((16 / var(--base) * 1rem)); /* 16px */
    --r24: calc((24 / var(--base) * 1rem)); /* 24px */
    --r32: calc((32 / var(--base) * 1rem)); /* 32px */
    --r48: calc((48 / var(--base) * 1rem)); /* 48px */
    --r64: calc((64 / var(--base) * 1rem)); /* 64px */
    --r96: calc((96 / var(--base) * 1rem)); /* 96px */
    --r128: calc((128 / var(--base) * 1rem)); /* 128px */

    /* ### Font */
    --font-family: 'Lato', sans-serif;

    /* ### Font sizing */
    --fs-r16: calc((16 / var(--base) * 1rem)); /* 16px */
    --fs-r20: calc((20 / var(--base) * 1rem)); /* 20px */
    --fs-r24: calc((24 / var(--base) * 1rem)); /* 24px */
    --fs-r32: calc((32 / var(--base) * 1rem)); /* 32px */

    /* ### Breakpoints */
    --xxs: 240px;
    --xs: 360px;
    --sm: 480px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1440px;
    --xxl: 1920px;
  }
}
